.todo-area, .inprogress-area, .done-area {
    width: 33%;
    float: left;
}
.filter-area, .button-area {
    margin-bottom: 10px;
}
.drop-area {
    min-height: 300px;
}
.popup label {
    width: 30%;
    display: inline-block;
    float: left;
}
.popup input, .popup textarea {
    width: 60%;
}
.popup {
    padding: 20px;
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;  
}
.popup h2 {
    margin-top: 0;
}
.popup .popup-body div {
    margin-bottom: 5px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* display: none; */
}
.popup-footer {
    margin-top: 10px;
}
.popup-button-area {
    text-align: center;
}
.popup-button-area button {
    width: 70px;
}
.issue-item {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}
.issue-title, .issue-description, .issue-assignee {
    margin-bottom: 10px;
}
.issue-title > div, .issue-description > div, .issue-assignee > div {
    display: inline-block;
}
.issue-title > div:first-child, .issue-description > div:first-child, .issue-assignee > div:first-child {
    width: 90px;
    float: left;
}
.issue-title > div:last-child, .issue-description > div:last-child, .issue-assignee > div:last-child {
    width: calc(100% - 90px);
    word-break: break-word;
}
.issue-tools {
    text-align: right;
}